<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="container">
    <div class="row">
        <div class="col -lg-4">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="{{product.img.url}}" alt="Card image" style="width:100%">
          <div class="card-body">
          

            <h2 class="card-title">{{product.name}}</h2>
            <h4 class="card-text">{{product.dis}}</h4>
            <h2 class="card-title ">{{product.price}}</h2>
            <h4 class="card-text">{{product.off_price}}</h4>
           
          </div>
        </div>
        </div>
    
        </div>
   </div> 

</body>
</html>